# -----| Rust |-----
target/
corpus
artifacts
coverage


# -----| Git |-----
.log
.diff


# -----| Elf |-----
*.so
*.a
*.o
*.elf
*.out


# -----| Pe |-----
*.exe
*.dll
*.obj
*.lib


# -----| Raw |-----
*.bin


# -----| Proprietary |-----
*.mekk
*.htkl
*.pci
*.pki
